* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  overflow-y: scroll;
  font-family: Serif, Sans-serif;
  width: 30vw;
  margin: auto;
  line-height: 1.5;
}

.container {
  background-color: bisque;
}

p {
  font-weight: bold;
  margin: 5vw;
}

figcaption {
  margin: auto 10vw;
  font-weight: bold;
}

img {
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 5px 10px;
}

input, select {
  font-size: 1.1em;
  margin: 5px 10px;
}

span {
  font-size: 1em;
  color: red;
  float: right;
  font-style: italic;
  font-weight: bold;
}

footer {
  border-top: 2px solid #ccc;
}

#footerP {
  margin-left: 1vw;
}

#perfReport {
  float: right;
  font-style: italic;
  font-size: 0.8em;
  color: red;
  margin-right: 5vw;
}
